# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual Environment
venv/
.env

# Django
/media/
staticfiles/
*.log

# Migrations (optional – keep if you want to regenerate them)
# */migrations/*.py
# !*/migrations/__init__.py

# IDEs / Editors
.vscode/
.idea/

# Docker
*.log
*.pid
*.seed

# Celery
celerybeat-schedule
celerybeat.pid

# Redis / RabbitMQ dump files
dump.rdb

# System files
.DS_Store
Thumbs.db
